.main-chart {
	justify-content: center;
	&__box {
		width: 100%;
	}
	&__title {
		font-size: 24px;
		font-weight: bold;
		text-align: center;
	}
	&__data {
		width: 100%;
		&[data-chart="pie"] {
			height: 400px;
		}
		&[data-chart="doughnut"] {
			height: 400px;
		}
		&[data-chart="bar"] {
			height: 400px;
		}
	}
}
