.main-chart {
	display: flex;
	justify-content: center;
	&__data {
		width: 100%;
		&[data-chart="pie"] {
			height: 400px;
		}
		&[data-chart="doughnut"] {
			height: 400px;
		}
		&[data-chart="bar"] {
			height: 400px;
		}
	}
}
