// 深天藍
$skyBlue: #154c79;
// 青藍色
$blueBlue: #c2e9fb;
// 粉紫色
$pinkPurple: #bb97b9;
// 叢林綠
$jungleGreen: #039440;

// 選單
$menuBg: #343a40;
// 選單線
$menuBorder: #606060;
// 選單hover
$menuHover: #343a40;
// 選單當前頁面
$menuCurr: #17a2b8;

// 子選單hover
$subMenuHover: #095864;
// 子選單當前頁面
$subMenuCurr: #095864;

// 標題顏色
$slogan: #183380;

// 按鈕顏色
$btnColor: #17a2b8;

// main
$mainBg: #fff;
$mainBorder: #ddd;

// result
$result: #17a2b8;
$resultBox: #eee;
// 建議督導方針
$suggest: #17a2b8;

// 背景色
$container: #f4f6f9;
.red {
	color: red;
}
.yellow {
	color: yellow;
}
.blue {
	color: blue;
}
.green {
	color: green;
}
