$type: "Dayuan";
// $type:"BADE";

$color1: rgb(0, 0, 0);
$color2: #f8320f;
$color3: #fa744b;
// $color2: #00b7ff;
// $color3: #0ff0f8;
// $color2: #ff621f;
// $color3: #f78625;
$menuColor: #fff;
$slogan: #fff;

.red {
	color: red;
}
.yellow {
	color: yellow;
}
.blue {
	color: blue;
}
.green {
	color: green;
}
