$color1: #0f1114;
$color2: #fece16;
$color3: #fcea16;
$color4: #fca626;
$color5: #fff;
// 選單
$menuBg: #0f1114;
// 選單線
$menuBorder: #fece16;
// 選單顏色
$menuColor: #fff;
// 選單hover
$menuHover: #343a40;
// 選單當前頁面
$menuCurr: #17a2b8;

// 子選單hover
$subMenuHover: #0f1114;
// 子選單當前頁面
$subMenuCurr: #0f1114;

// 標題顏色
$slogan: #fff;
// 12A8A6
// 按鈕顏色
$btnColor: #17a2b8;

// main
$mainBg: #fff;
$mainBorder: #ddd;

// result
$result: #17a2b8;
$resultBox: #eee;
// 建議督導方針
$suggest: #17a2b8;

// 背景色
$container: #0f1114;
.red {
	color: red;
}
.yellow {
	color: yellow;
}
.blue {
	color: blue;
}
.green {
	color: green;
}
