.main {
	&-col {
		display: flex;
		margin-right: 48px;
		align-items: center;
		@include media(1024px) {
			margin-bottom: 16px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		@include media {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-row-gap: vw(16);
			grid-column-gap: vw(16);
			margin-right: 0;
		}
		&:last-child {
			margin-right: 0;
		}
		&--3 {
			width: 33%;
		}
	}
	&-form {
		margin-bottom: 16px;
		display: flex;
		align-items: center;
		padding: 6px 8px;
		color: $menuColor;
		background-color: rgba($color2, 0.25);
		// border-radius: 16px;
		border: 1px solid rgba($color2, 0.75);
		padding: 12px;
		transition: all 0.3s;
		&:hover {
			box-shadow: inset -28px 0 28px rgba($color2, 0.25);
		}
		@include media(1024px) {
			flex-direction: column;
			align-items: flex-start;
		}
	}
	&-control {
		&__title {
			margin-right: 24px;
			@include media {
				grid-column: span 3;
				margin-right: 0;
			}
		}
		&__dash {
			margin: 0 12px;
			@include media {
				display: none;
			}
		}
		&__select {
			padding: 12px 6px;
			border: 1px solid #ddd;
			// border-radius: 12px;
			&--s {
				width: 120px;
			}
		}
		&__submit {
			background-color: rgba($color3, 0.5);
			border: 1px solid darken($color3, 5);
			color: #fff;
			padding: 10px 18px;
			// border-radius: 12px;
			cursor: pointer;
			&:hover {
				background-color: rgba($color3, 0.6);
			}
		}
	}
}
