* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.container {
	width: 100%;
	min-height: 100vh;
	// background-color: $container;
	background-image: linear-gradient(45deg, darken(#359296, 5) 0%, darken($container, 15) 50%, darken(#359296, 25) 100%);
	position: relative;
	display: flex;
}
.grid {
	display: grid;
	column-gap: 16px;
	row-gap: 16px;
	&--2 {
		grid-template-columns: repeat(2, 1fr);
	}
	&--4 {
		grid-template-columns: repeat(4, 1fr);
	}
	&--12 {
		grid-template-columns: repeat(12, 1fr);
	}
	&-span {
		@for $i from 1 through 12 {
			&--#{$i} {
				grid-column: span $i;
			}
		}
	}
}
