.menu {
	width: 260px;
	background-color: #183380;
	&-title {
	}
	&-ul {
		font-size: 16px;
		font-weight: bold;
	}

	&-li {
	}
	&__link {
		padding: 13px 15px 12px;
		&.on {
			background: #ec9c00;
		}
		&__icon {
			width: 30px;
			height: 30px;
			background-size: cover;
			background-image: url("./img/stats.png");
		}
		&__text {
		}
	}
	&-drop {
		&:before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			width: 18px;
			height: 12px;
			background-image: url(./img/icon-slide.png);
		}
		&__ul {
			background: #102256;
		}
		&__link {
			padding: 12px 0 12px 60px;
			color: #656565;
			&.on {
				color: #fff;
			}
		}
		&__icon {
		}
		&__text {
		}
	}
}
