.menu {
	width: 240px;
	flex-shrink: 0;
	background-color: $color1;
	border-right: 4px solid rgba(lighten($color1, 35), 0.5);
	// box-shadow: 3px 0 6px rgba(darken(#0d2239, 15), 0.5);
	&.on {
		width: 60px;
		z-index: 2;
		& > * {
			font-size: 0 !important;
		}
		.menu-title {
			span {
				display: inline-block;
				width: 30px;
				height: 30px;
				background-size: contain;
				background-image: url("./img/stats.png");
				background-position: center center;
				background-repeat: no-repeat;
			}
		}
		.menu-link {
			justify-content: center;
			&:before {
				content: none;
			}
		}
		.menu-link__icon {
			margin-right: 0;
		}
		.menu-drop {
			&.slide {
				& + .menu-drop__ul {
					display: block;
					transform: translateX(100%);
				}
			}
		}
		.menu-drop__ul {
			position: absolute;
			top: 0;
			right: 0;
		}
		.menu-drop__link {
			width: 210px;
			padding: 16px 0 16px 16px;
		}
		.menu-drop__text {
			font-size: 16px !important;
		}
	}
	@include media {
		width: 60px;
		z-index: 2;
		& > * {
			font-size: 0 !important;
		}
		.menu-title {
			span {
				display: inline-block;
				width: 30px;
				height: 30px;
				background-size: contain;
				background-image: url("./img/stats.png");
				background-position: center center;
				background-repeat: no-repeat;
			}
		}
		.menu-link {
			justify-content: center;
			&:before {
				content: none;
			}
		}
		.menu-link__icon {
			margin-right: 0;
		}
		.menu-drop {
			&.slide {
				& + .menu-drop__ul {
					display: block !important;
					transform: translateX(100%);
				}
			}
		}
		.menu-drop__ul {
			position: absolute;
			top: 0;
			right: 0;
		}
		.menu-drop__link {
			width: 210px;
			padding: 16px 0 16px 16px;
		}
		.menu-drop__text {
			font-size: 16px !important;
		}
	}
	&-toggle {
		width: 27px;
		height: 35px;
		background-size: cover;
		background-image: url("./img/nav-btn-off.png");
		margin: 28px 0 28px 16px;
		cursor: pointer;
	}
	&-title {
		color: $menuColor;
		font-size: 20px;
		text-align: center;
		padding: 16px 0;
		border-bottom: 1px solid rgba($color2, 0.5);
	}
	&-ul {
		font-size: 16px;
		font-weight: bold;
	}

	&-li {
		position: relative;
	}
	&-link {
		width: 100%;
		padding: 16px 16px 16px;
		display: block;
		position: relative;
		text-decoration: none;
		color: $menuColor;
		display: flex;
		align-items: center;
		&:hover {
			// background-color: lighten($color1, 15);
			background-image: linear-gradient(to right, rgba($color2, 1), rgba($color1, 0.5));
		}
		&[data-page="drain"] {
			.menu-link__icon {
				background-image: url("./img/drain.png");
			}
		}
		&[data-page="cable"] {
			.menu-link__icon {
				background-image: url("./img/cable.png");
			}
		}
		&[data-page="rain"] {
			.menu-link__icon {
				background-image: url("./img/rain.png");
			}
		}
		&[data-page="flood"] {
			.menu-link__icon {
				background-image: url("./img/flood.png");
			}
		}
		&.on {
			// background: $menuCurr;
			background-image: linear-gradient(to left, rgba($color2, 1), rgba($color1, 0.5));
		}
		&__icon {
			width: 28px;
			height: 28px;
			background-size: contain;
			background-image: url("./img/stats.png");
			margin-right: 16px;
			background-repeat: no-repeat;
			background-position: center center;
		}
		&__text {
		}
	}
	&-drop {
		&.slide {
			&:before {
				transform: translateY(-50%) rotate(180deg);
			}
			& + .menu-drop__ul {
				display: block;
			}
		}
		&:before {
			content: "";
			position: absolute;
			top: 50%;
			right: 16px;
			transform: translateY(-50%);
			width: 18px;
			height: 12px;
			background-image: url(./img/icon-slide.png);
		}
		&__ul {
			background: lighten($color1, 5);
			display: none;
		}
		&__link {
			padding: 16px 0 16px 60px;
			color: darken($menuColor, 25);
			text-decoration: none;
			display: block;
			width: 100%;
			display: flex;
			align-items: center;
			&:hover {
				// background-color: $subMenuHover;
				background-image: linear-gradient(to left, rgba($color2, 0.5), rgba($color1, 0.5));
			}
			&.on {
				color: #fff;
				background-image: linear-gradient(to right, rgba($color2, 0.5), rgba($color1, 0.5));
				.menu-drop__icon {
					&:before {
						content: "";
						width: 9px;
						height: 9px;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						background-color: $menuColor;
						border-radius: 50%;
					}
				}
			}
		}
		&__icon {
			width: 20px;
			height: 20px;
			margin-right: 14px;
			align-items: center;
			border: 1px solid darken($menuColor, 25);
			box-shadow: 0 0 6px $menuColor;
			border-radius: 50%;
			position: relative;
		}
		&__text {
		}
	}
}
